.li{
  list-style: none;
}

.NavBar{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgba(203, 83, 157, 0.848);
  color: #fff;
}
.sideBar{
  margin-top: 3rem;
}
.homePgLayout{
  text-align: center;
  position: relative;
  top: -10;
}
.footer{
  text-align: center;
  background-color: rgb(36, 33, 33);
  color: #fff;
  padding:1rem;
  margin-top: 5rem;
}